@import 'color.css';

* {
	font-family: "Avenir Next";
	font-weight: normal;
}

.row {
	margin: 10px auto;
}

/*navigation*/

.fixed-top.scrolled {
	background-color: var(--color475) !important;
	transition: background-color 200ms linear;
	transition: color 200ms linear;
}

.nav-item {
	padding-left: 5px;
	padding-right: 5px;
}

/*header*/

.display-1, .display-2, .display-3, .display-4 {
	font-weight: lighter;
	text-transform: uppercase;
}

.display-1 {
	font-size: 48px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.display-2 {
	font-size: 36px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*section*/

.section {
	display: block;
	min-height: 100vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#home, #reference {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

/*home*/

#home {
	background-color: var(--color3);
	color: #fff;
}

.digit {
	font-size: 36px;
	font-weight: lighter;
}

.highlights {
	margin-bottom: 30px;
}

/*search*/

.input-lg {
	width: 64vw;
}

#search {
	background-color: var(--color0);
}

/*reference*/

#reference {
	background-color: var(--color1);
}
